<!--
   index.html
   
-->

<html>
  <head>
    <title>Proyecto VERNE prueba de Live Streaming</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
		body {
			text-align: center;
		}
    </style>
  </head>
  <body>
    <h1>Streaming desde RaspberryPi</h1>
    <h3>
      <pre><div class="”video-responsive”">
        <iframe src="https://www.youtube.com/embed/ZEyAs3NWH4A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <pre>
        <!--<img src="{{ url_for('video_feed') }}" width="50%"> -->
    </h3>

    <hr>
	<h3> Control remoto ==> <a href="http://192.168.1.40/"class="button">Control remoto</a></h3>
	<hr>
    </body>
</html>
